* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1.7rem;
}

nav p {
    cursor: pointer;
}

section {
    padding: 2rem;
}

.notification-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    height:12rem;
    font-size: 20px;
    place-items: center;
}

.notification-popup p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

li {
    list-style-type: decimal;
}

#todoList{
    position: relative;
}

.count{
    top: -6px;
    position: absolute;
    font-size: 12px;
    display: inline-flex;
    background-color: #e74c3c;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

main {
    padding: 20px;
}

#addSection {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form {
    display: flex;
    flex-direction: column;
}

#addTask{
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

input[type="text"],
input[type="time"],
button[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="text"],
input[type="time"] {
    width: 100%;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #444;
}

#listSection {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button#clearAll, .del {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#clearAll:hover {
    background-color: #c0392b;
}

ul#taskList {
    list-style: none;
}

ul#taskList li {
    margin-bottom: 10px;
    display: grid;
    align-items: center;
    grid-template-columns:.1fr .8fr .1fr;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;

}

#contactSection {
    background-color: #fff;
    border: 1px solid #ddd;
    font-family: cursive;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactSection section {
    text-align: left;
    padding: 0rem .5rem;
    margin-top: .3rem;
}

#contactSection section p {
    margin: 10px 0;
}

.socials {
    margin-top: 10px;
}

.socials a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.socials a:hover {
    color: #007bff;
}


@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav p {
        margin-bottom: 5px;
    }
}

